spring:
  application:
    name: bookbuddyproject

  # H2 Database
  datasource:
    url: jdbc:h2:mem:bookbuddy
    username: sa
    password:
    driver-class-name: org.h2.Driver

  # H2 Console
  h2:
    console:
      enabled: true
      path: /h2-console

  # JPA
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 100
    open-in-view: true

  # Thymeleaf
  thymeleaf:
    cache: false

# Logging
logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace
